@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100px;
    padding: 0px 40px 0px 40px;
        
}

.imglogo{
    width: 4rem;
    height: 4rem;
    margin-left: 20px;
}

.navtitle{
    font-size: 1.2rem;
    text-align: center;
    color: #ffffff;
    margin: 30px; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.containertitle{
    font-size: 2rem;
    text-align: center;
    color: #da4d4d;
    font-family: 'Lobster', cursive;
}

.paragraptitle{
    font-size: 1.2rem;
    text-align: center;
    color: #a1a1a1;
    font-family: 'Lobster', cursive;
    margin: 20px 10px 20px 10px;
}

.formphonebook{
    margin: 10px 40px 10px 40px;
}

label{
    margin-top: 20px;
}

.savebutton{
    margin: 20px 0px 20px 0;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #59C4A1;
    border: 1px solid #59C4A1;
}

.editbutton{

}

.deletebutton{

}

@media screen and (min-width: 600px) {
    nav ul{
        display: flex;
        justify-content: space-between;
    }

  }